
@{
    ViewData["Title"] = "Index";
}

<link rel=stylesheet href="/css/about.css" asp-append-version="true" />

<div class="container">
    <h2>About Our Pet Clinic</h2>
    <img style="border-radius: 10px;" src="https://placekitten.com/800/400" class="img-fluid" alt="Pet Clinic Image">

    <div class="text">
        <p>
            Welcome to our Pet Clinic! We are dedicated to providing exceptional care for your furry friends.
            Our team of experienced veterinarians and staff is committed to ensuring the health and well-being of your pets.
            Whether it's routine check-ups, vaccinations, or emergency care, we are here for you and your beloved animals.
        </p>

        <p>
            At our clinic, we understand the unique bond between pets and their owners. We strive to create a comfortable and
            compassionate environment for both pets and their families.
        </p>

        <p>
            Thank you for choosing us as your trusted partner in pet care. If you have any questions or need assistance,
            feel free to reach out to our friendly staff.
        </p>
    </div>
</div>

<div class="image">
    <img src="/images/Untitled-1.png" />
</div>

<div class="image2">
    <img src="/images/pngwing.com_6.png" />
</div>


